@font-face {
    font-family:"MyWebFont1";
    src: url("NeueMachina-Ultrabold.otf");
  }

  #tail {
      position: absolute;
      float: left;

  }

.textstyle {
  font-family: "MyWebFont1";
  font-size: 150px;
  color: green;
}
