

.form1 {
  background-color: grey;
  width: 200px;
  height:260px;
  margin-top: -650px;
  margin-left: 1000px;
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: 10;

}

.form2

.room1 {
  height:100%;
  position:absolute;

}

@keyframes move {
  0% {
    background-color: white;
  }
  20% {
    background-color: #B67BFE;

  }
  40%{
    background-color: lightgrey;

  }
  60%{

    background-color: #FABDDC;

  }
  80% {

    background-color: #86FED8;

  }
  100% {

    background-color: white;

  }


}
