@font-face {
  font-family:"MyWebFont1";
  src: url("./Type/SpaceGrotesk-Regular.woff");
}

@font-face {
  font-family: "MyWebFont2";
  src: url("./Type/SpaceGrotesk-Light.woff2");
}

a.main-text:link {
  font-family: "MyWebFont2";
  color: white;
  font-size: 50px;
  text-decoration: none;
}

a.main-text:hover {
  font-family: "MyWebFont1";
  color: white;
  text-decoration: none;
  background-color: white;
  border: solid white 25px;
}

a.main-text:visited {
  font-family: "MyWebFont1";
  font-style: none;
  text-decoration: none;
  color: white;
}

.img1 {
  width: 70%;
}

.centrera {
  margin-top: 25%;
  text-align: center;
}

a.arkiv:link{
  font-family: "MyWebFont2";
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: bottom, left;
}

a.arkiv:hover{
  font-family: "MyWebFont2";
  font-size: 20px;
  color: white;
  text-decoration: line-through;
  float: bottom, left;
}

a.arkiv:visited{
  font-family: "MyWebFont2";
  font-size: 20px;
  color: white;
  text-decoration: none;
  float: bottom, left;
}

a.about:link {
  font-family: "MyWebFont2";
  font-size: 20px;
  color: white;
  text-decoration: none;
  float:right;
  margin-top: -25px;
}

a.about:hover {
  font-family: "MyWebFont2";
  font-size: 20px;
  text-decoration: line-through;
  color: white;
  float:right;
  margin-top: -25px;
}

a.about:visited {
  font-family: "MyWebFont2";
  font-size: 20px;
  color: white;
  text-decoration: none;
  float:right;
  margin-top: -25px;
}

a.pil1:link {
  font-family: "MyWebFont1";
  font-size: 20px;
  color: white;
  text-decoration: none;
}

a.pil1:hover {
  font-family: "MyWebFont1";
  font-size: 20px;
  color: white;
  background-color: white;
  text-decoration: none;
}

a.pil1:visited {
  font-family: "MyWebFont1";
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.chamber {
  height:450px;
}
