@font-face {
  font-family: "MyWebFont1";
  src: url("https://fridahaggstrom.github.io/sequential/type/PanamaItalic.woff");
}

@font-face {
  font-family: "MyWebFont2";
  src: url("https://fridahaggstrom.github.io/sequential/type/PanamaRegular.woff")
}

.back {
  font-family: "MyWebFont1";
  font-size: 15px;
}

.paragraf1 {
  transform: rotate(-14deg);
  font-family: "MyWebFont2";
  font-size: 20px;
}
