@font-face {
  font-family: "MyWebFont1";
  src: url("https://fridahaggstrom.github.io/sequential/type/PanamaItalic.woff");
}

.pick {

  font-family: "MyWebFont1";
  font-size: 80px;
  align: center;
}

a:link {
  color: white;
  font-size: 80px;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 5px black;
}

a:visited {
  color: white;
  text-decoration: none;
}
