@font-face {
    font-family:"MyWebFont1";
    src: url("./Type/Panama-Italic.otf");
  }

  #tail {
      position: relative;
      float: left;

  }

.textstyle {
  font-family: "MyWebFont1";
  font-size: 100px;
  color: blue;
}

.rutt1 {
  width: 300%;
  margin-left: -20%;
  margin-top: -40%;

}

.div1 {
  color: blue;
  font-size: 150px;
  margin-left:90%;
  margin-top: -20%;
}

a:link {
  color: blue;
  font-size: 150px;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

.back {
  font-family: "MyWebFont1";
  font-size: 15px;
}
