@font-face {
font-family:"MyWebFont";
src: url("./Type/Panama-Regular.otf");
}

.intro {
	color: white;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "MyWebFont";
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

p {
  color: limegreen;
  font-size: 15px;
}


a:hover {
	text-decoration: underline;
}

.div1{
  padding-top: 10%;
  padding-left:20%;
  width: 60%;
  position: relative;
  font-family: "MyWebFont";
  font-size: 20px;
}

a.vidare:link {
  font-family: "MyWebFont";
  font-size: 20px;
  color: white;
  text-decoration: none;

}

  a.vidare:hover {
    font-family: "MyWebFont";
    font-size: 20px;
    text-decoration: underline;
    color: white;
  }

  a.vidare:visited {
    font-family: "MyWebFont";
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
