@font-face {
  font-family:"MyWebFont1";
  src: url("TACITE.otf");
}

@font-face {
  font-family:"MyWebFont2";
  src: url("SpaceGrotesk-Light.woff2");
}


a:link {
  font-family: "MyWebFont1";
  color: black;
  font-size: 90px;
  text-decoration: none;
}

a:hover {
  font-family: "MyWebFont1";
  color: black;
  background-color: black;
  text-decoration: none;
  border: solid black 20px;
}

a:visited {
  font-family: "MyWebFont1";
  font-style: normal;
  text-decoration: none;
  color: black;
}
