@font-face {
    font-family:"MyWebFont1";
    src: url("./Type/PanamaRegular.woff");
  }

  #tail {
      position: absolute;
      float: left;

  }

.textstyle {
  font-family: "MyWebFont1";
  font-size: 100px;
  color: blue;
}

.rutt1 {
  width: 50%;
  margin-left: 20%;

}
